<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>main</key>
<array>
	<dict>
		<key>product_id</key>
		<string>com.petrstoychek.socialspy.weekly</string>
		<key>title</key>
		<string>Еженедельно</string>
		<key>divide_value</key>
		<integer>1</integer>
		<key>badge</key>
		<string></string>
	</dict>
	<dict>
		<key>product_id</key>
		<string>com.petrstoychek.socialspy.1month</string>
		<key>title</key>
		<string>1 месяц</string>
		<key>divide_value</key>
		<integer>1</integer>
		<key>badge</key>
		<string>-50%</string>
	</dict>
</array>
<key>alternative</key>
<array>
	<dict>
		<key>product_id</key>
		<string>com.petrstoychek.socialspy.alternative.weekly</string>
		<key>title</key>
		<string>Еженедельно</string>
		<key>divide_value</key>
		<integer>1</integer>
		<key>badge</key>
		<string>-45%</string>
	</dict>
	<dict>
		<key>product_id</key>
		<string>com.petrstoychek.socialspy.alternative.1month</string>
		<key>title</key>
		<string>1 месяц</string>
		<key>divide_value</key>
		<integer>1</integer>
		<key>badge</key>
		<string>-50%</string>
	</dict>
	<dict>
		<key>product_id</key>
		<string>com.petrstoychek.socialspy.alternative.daily</string>
		<key>title</key>
		<string>Ежедневно</string>
		<key>divide_value</key>
		<integer>61</integer>
		<key>badge</key>
		<string>-60%</string>
	</dict>
	<dict>
		<key>product_id</key>
		<string>com.petrstoychek.socialspy.alternative.year</string>
		<key>title</key>
		<string>1 year</string>
		<key>divide_value</key>
		<integer>1</integer>
		<key>badge</key>
		<string>-75%</string>
	</dict>
</array>
<key>default_tarifs</key>
<string>alternative</string>
</dict>
</plist>
